body {

    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #111111, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #111111, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
    scroll-behavior: smooth;
}


/* ------ navbar ------ */
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}



/* ------------------------ icon-bar --------------------------- */
.icon-bar {
    width: 100%;
    background-color: #220056;
    overflow: auto;
    border border-radius: 4px;
}

.icon-bar a {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: ;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #343a40;
}

.på {
    background-color: #343a40;
}



/* ---------------------- icons ------------------------ */

i {
    font-size: 35px;
    text-align: left;
    color: #fff;
}

/* --------------------- animation ---------------------- */

div.ali {
    animation-duration: 3s;

}

div.olo {
    animation-duration: 3s;

}

p {
    animation-duration: 3s;
    animation-delay: 2.75s;
}

.downArow i {
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: linear-gradient(to right, #FFF94C, #004FF9);

}

/* --------------------- welcome-section -------------- */


.mounten {
    width: 100%;
    height: 700px;
    background-image: url("screen/evening-55067---Copy-compressor.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.downArow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}

.blur {
    text-align: center;
    font-size: 17px;
    line-height: 0.8;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-weight: bold;
    padding-TOP: 10em;

}

.blur img {
    border: solid white 2px;
    border-radius: 50%;
    width: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}



/* --------------------- line ---------------------- */

#blabla {
    height: 4em;
    width: 100%;
    background-color: #111111;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 4em;
    text-decoration: underline;
    color: white;
}


/* ------------------ projects --------------------- */

.section2 {
    padding: 110px;

}

/* -------------------------------------------------- */

#projects {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(#111111, #22005688);
    width: 100%;
    height: 600px;

}

.project-tile {
    position: relative;
    border: solid 5px white;
    border-radius: 12px;
    color: white;
    text-align: center;
    margin: 115px 13px;
    padding-top: 30px;
    font-size: 26px;

    -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 1);
}


.babe {
    display: block;
    margin: 15px;
    max-width: 25%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-tile:hover .overlay {
    bottom: 0;
    height: 100%;
    border-radius: 5.80px;
}

.text {
    color: #111111;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* -------------------- buttons -------------------- */

.tiger {
    margin-top: 17em;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: solid 1px;
    outline: none;
    padding: 15px 45px;
    border-radius: 4px;
    background: #fa9902;
}

#myBtn:hover {
    color: red;
    border-color: red;

}

/*-------------------- carousel ---------------------*/

.carousel-item img {
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.containerbox1 {

    border-top: solid white 50px;
    border-bottom: solid white 50px;

}

.carousel-inner h2 {
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
}

.carousel-item h2 {
    margin-bottom: ;
    margin-right: ;
    text-align: ;
    text-decoration: underline;
}

.htmlinfo {
    text-decoration: underline;
}

/* ------------------- progress ------------------- */

.progress12 {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 5em;
}

.progress12 h3 {
    padding-bottom: 20px;
}

/* -------------- ongoing-projects ---------------- */
.nextprojects {
    padding: 40px 150px;
    display: flex;
    flex-direction: column;

}

.progcontainer19 {
    background-color: #220056;
    border-radius: 25px;
    padding-left: 40px;

}

.nextprojects h3 {
    text-align: center;
    margin: 25px 0 45px 0;
    color: whitesmoke;
}

.textcontainer {
    float: right;
    background-color: whitesmoke;
    border-radius: 25px;
    height: 200px;
    width: 600px;
    margin-right: 60px;
    text-align: center;
}

.number {
    float: left;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 70px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.number:hover {
    color: #fa9902;
    border-color: #fa9902;
    ;
}

/* ----------------- contact --------------------- */

.ongoingprojects {
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    background-color: #220056;
    display: flex;
}

.ongoingprojects1 {
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    background-color: #220056;
    display: flex;
}


.ongoing {
    width: 10rem;
    height: 14px;
    margin-bottom: 13px;
    margin-top: 19px;
    margin-left: 11px;
}

#rasengan {
    padding-left: 580px;

}

#rasengan form {
    margin: 20px;
    padding: 25px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 400px;
    background-color: whitesmoke;
    text-align: center;
}

#rasengan form h2 {
    padding-bottom: 10px;
}

/* --------------- contact 2 --------------------- */

.urusai form {
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin: 0px;
    padding: 19px;
}

.urusai form h2 {
    padding-bottom: 9px;
}

/* --------------- footer --------------------- */
.footer {
    background-color: #343a40;
    text-align: center;
    height: 100px;
    width: 100%;
    color: whitesmoke;
    padding-top: 35px;
}


/* ------------------------ media --------------------------- */

@media (max-width: 812px) {
    a.mobamba {
        display: none;
    }

    .s8 {
        display: none;
    }

}

@media (max-width: 812px) {
    a.mobamba {
        display: none;
    }

}

@media (max-width: 812px) {

    .nextprojects {
        display: none;
    }

}

@media (max-width: 812px) {
    .my-name {
        display: none;
    }

    .nextprojects {
        display: none;
    }

    .progcontainer19 {
        display: none;
    }


    .ongoing {
        display: none;
    }

    #rasengan {
        display: none;
    }


    .ongoingprojects {
        display: none;
    }

    #projects {
        background-color: transparent;

    }

    #blabla {}

    #welcome-section {
        display: none;
    }

    .project-tile {
        display: none;
    }

    .section2 {

        height: 500px;
    }

    .containerbox1 {
        display: none;
    }

    .progress12 {
        margin-top: 70em;
    }

    .ongoing {
        display: none;
    }


}

@media (min-width: 950px) {
    a.navbar-brand {
        display: none;
    }

    .icon-bar {
        display: none;
    }

    .section2 {
        display: none;
    }

    .urusai {
        display: none;
    }

    .ongoingprojects p {
        display: none;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}