body,
html {
    background-image: url("screen/Web\ 1920\ –\ 2.jpg");
    background-size: cover;
    margin-bottom: 115em;
    scroll-behavior: smooth;
}


/* ------ navbar ------ */
:root {
    --jumbotron-padding-y: 3rem;
}



.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

/* ------------------------ media --------------------------- */

@media (max-width: 380px) {
    a.mobamba {
        display: none;
    }

    div.myname {
        display: none;
    }

    div.olo {
        text-align: center;

    }

    a.navbar-brand {
        display: inline;
    }


    a,
    strong {
        display: none;

    }

}

@media (max-width: 750px) {
    a.mobamba {
        display: none;
    }
}

@media (max-width: 3000px) {
    a.navbar-brand {
        display: none;
    }

    div.bling {
        display: none;

    }
}




/* ---------------------- icons ------------------------ */
i {
    font-size: 35px;
    text-align: left;
}



/* --------------------------------- animation ------------------------- */
div.ali {
    animation-duration: 3s;

}

div.olo {
    animation-duration: 3s;

}

/* h3.blind {
    animation-duration: 3s;
    animation-delay: 6s;
} */

p {
    animation-duration: 3s;
    animation-delay: 2.75s
}





/* ----- welcome-section --------- */

.ali img {
    border-radius: 50%;
    width: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    text-align: center;
}

.myname {
    text-align: center;
    background-image: linear-gradient(#8B4DFF, #111111);
    padding: 15em;
}

#div1 {

    background-color: white;
}


h1 {
    font-size: 20px;
    margin-bottom: 4px;
}

u {
    color: white;
}

p {
    margin-top: 0px;
    color: #4FFFB8;
    font-size: 14.5px;
}

/* ----------- line ------------ */

#blabla {
    height: 4em;
    width: 100%;
    background-color: #111111;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 4em;
}

#blabla div {
    text-decoration: underline;
    color: white;
}

/* --------- projects -------- */

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}



.project-tile {
    display: flex;
    width: 250px;
}

.projects {
    background-image: linear-gradient(#111111, rgba(139, 77, 255, 0.904));

    .container {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .container:hover .overlay {
        width: 100%;
        left: 0;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}

.card {
    height: 390px;
    width: 350px;
    padding-top: 0%;
    margin-top: 0%;
}

/*------------------------------------- carouse -------------------------------*/
.carousel-item img {
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.containerbox1 {
    background-color: #fff;
    border: solid white 50px;


}

.containerbox1 p {
    text-align: center;
    color: #111111;
    text-decoration: underline;
    margin-bottom: 2em;
    font-weight: bold;

}

/* --------------------------------------- contact ---------------------------------- */
.contact-dontainer {
    border: solid black 50px;
}

.contact-dontainer img {
    width: 100%;

}